body
{
	
	text-align: center;
    background: linear-gradient(#9afcb2 0%, #fce29a 100%);
}

#player_answer,player_question{
	text-align: left;
}

#h2{
	color: white;
	font-family: cursive;
	text-overflow: clip;
	text-shadow: tomato;
	font-style: oblique;
	text-decoration: wheat;
	border-color:yellowgreen;
	border-width: 3px;
	border: 3px;
}

#player1_name_input{
border-radius: 35px;
border-color: lightcoral;
}

#player2_name_input{
	border-radius: 35px;
	border-color: lightseagreen;
}

#img1{
	border-radius: 100px;
}

	.login_div1 , .login_div2
	{
		font-family: cursive;
		font-size: 18;
	
		padding: 10px;
		float: none;
		border-radius: 50px;
	}

	#lab1 , #lab2
	{
		background-color: rgb(253, 246, 182);
		border-radius: 35px;
		border-style: solid;
		border-color: lightyellow;
	}

#h1{
	text-shadow: cornsilk;
	font-size: 35px;
	font-family: cursive;
	letter-spacing: 5px;
}

	#butt1
	{
		background: linear-gradient(#f2fc9a 0%, #9ad8fc 100%); ;
		color: black;
		border-radius: 30px;
		border-color:lightyellow;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}
